# dependencies
node_modules/
.pnp
.pnp.js

# builds
.next/
out/
dist/
build/
.turbo/

# env
.env
.env*.local
.env.production

# prisma
packages/db/prisma/*.db
packages/db/prisma/migrations/dev.db*

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# misc
*.tsbuildinfo
.vercel
coverage/

.vercel
